.card {
  display: flex;
  align-items: center;
  margin: 20px 10px;
}
.card_info {
  margin-left: 10px;
}
.card_img img {
  width: 125px;
  height: 170px;
  object-fit: cover;
}
.location {
  display: flex;
  align-items: center;
}
.location img {
  width: 10px;
  margin-right: 5px;
}
.location a {
  color: gray;
  margin-left: 5px;
}
.title {
  margin: 15px 0px;
  font-weight: bold;
  font-size: 25px;
}
.desc {
  margin: 10px 0px;
}
.desc span {
  font-weight: bold;
}
