header {
  background-color: #f55a5a;
  .header_content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 15px;
    span {
      margin-left: 10px;
    }
  }
}
